name: Build & Publish

on:
  push:
    branches:
      - master
    tags:
      - "*.*.*"
  workflow_dispatch:

env:
  VERSION: ${{ github.ref_name }}

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Build & Pack YoloSharp
        run: |
          dotnet build -c Release src/YoloSharp/YoloSharp.csproj -p:Version=${{ env.VERSION }}
          dotnet pack -c Release -o . src/YoloSharp/YoloSharp.csproj -p:Version=${{ env.VERSION }}
        
      - name: Build & Pack YoloSharp.Gpu
        run: |
          dotnet build -c Release src/YoloSharp/YoloSharp.csproj -p:Version=${{ env.VERSION }} -p:GpuPackage=true
          dotnet pack -c Release -o . src/YoloSharp/YoloSharp.csproj -p:Version=${{ env.VERSION }} -p:GpuPackage=true
          
      - name: Build & Pack YoloSharp.Core
        run: |
          dotnet build -c Release src/YoloSharp/YoloSharp.csproj -p:Version=${{ env.VERSION }} -p:CorePackage=true
          dotnet pack -c Release -o . src/YoloSharp/YoloSharp.csproj -p:Version=${{ env.VERSION }} -p:CorePackage=true
          
      - name: Run Tests
        run: dotnet test src/YoloSharp.Tests/YoloSharp.Tests.csproj

      - name: Publish
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create ${{ env.VERSION }}
          --repo ${{ github.event.repository.full_name }}
          --title ${{ env.VERSION }}
          --generate-notes
          --verify-tag
